
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <%- include("partials/header.ejs") %>
</head>
<%- include("partials/navbar.ejs") %>
<body>
    <h1>Create a Post!</h1>

    <!-- Search for book -->
    <div id="searchSection">
        <h4>Find your book:</h4>
        <input type="text" id="searchBookInput" placeholder="Enter book title">
        <button id="searchBookButton">Search Books</button>
        <div id="searchBookMessage" style="display:none; color:red"></div>
    </div>

    <!-- Result section -->
    <div id="resultsSection" style="display:none;">
        <h4>Select your book:</h4>
        <div id="resultsList" style="border: 1px solid #ccc; padding: 10px; max-height: 300px; overflow-y: auto;"></div>
        <!-- section populated with JS -->
    </div>

    <!-- Confirm selection -->
     <div id="selectedBookSection" style="display: none;">
        <h4>Confirm Selection</h4>
        <img id="selectedCoverImage" src="" alt="Book cover" style="max-width: 150px; height: auto; margin-right: 15px;">
            <div id="selectedBookInfo" style="display: inline-block;">
                <p><strong>Title:</strong> <span id="selectedTitle"></span></p>
                <p><strong>Author:</strong> <span id="selectedAuthor"></span></p>
                <p><strong>ISBN:</strong> <span id="selectedISBN"></span></p>
            </div>
     </div>

    <!-- Review Section -->
    <div id="reviewSection" style="display:none;">
        <h2>Write Your Review</h2>
        <form id="reviewForm">
            <label for="postBookReview">Review of the book:</label><br>
            <textarea id="postBookReview" placeholder="Share your thoughts about this book..."></textarea><br>
            <button id="postButton" disabled>Post Review</button>
        </form>
    </div>

    <!-- Hidden input fields to store selected book data to send to backend-->
    <input type="hidden" id="selectedBookTitle">
    <input type="hidden" id="selectedBookAuthor">
    <input type="hidden" id="selectedBookISBN">
    <input type="hidden" id="selectedCoverURL">
    <input type="hidden" id="selectedBookKey">

    <%- include("partials/footer.ejs") %>
</body>
</html>