<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <%- include("partials/header.ejs") %>
</head>
<%- include("partials/navbar.ejs") %>
<body>
<body>
    <h1>Log In</h1>
    <centeredmid>
    <form id="signUpForm">
        Username:<input type="text" id="signUpUsername"><br>

        Email:<input type="text" id="signUpEmail"><br>

        Password:<input type="password" id="signUpPassword"><br>

        <button type="submit" id="createUser">Log In</button>
    </form>
    </centeredmid>

    <%- include("partials/footer.ejs") %>
</body>
</html>