<%- include("partials/header.ejs") %>

<body>
    <h1>Sign Up</h1>

    Username:<input type="text" id="signUpUsername"><br>

    Email:<input type="text" id="signUpEmail"><br>

    Password:<input type="text" id="signUpPassword"><br>
    
    Confirm Password:
    <input type="text" id="signUpConfirmPassword"><br>
    <p id="signUpAlert"></p><br>

    <button id="createUser">Sign Up</button>
    
</body>
</html>