<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <%- include("partials/header.ejs") %>
</head>
<%- include("partials/navbar.ejs") %>
<body>
    <h1>Sign Up</h1>
    <form id="signUpForm">
        Username:<input type="text" id="signUpUsername"><br>

        Email:<input type="text" id="signUpEmail"><br>

        Password:<input type="password" id="signUpPassword"><br>
    
        Confirm Password:
        <input type="password" id="signUpConfirmPassword"><br>
        <p id="signUpAlert"></p><br>

        <button type="submit" id="createUser">Sign Up</button>
    </form>

    <%- include("partials/footer.ejs") %>
</body>
</html>